html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, 
body {
    // overflow-x: hidden; 
}

html {
    font-family: $font-serif;
    font-weight: $font-weight-medium;
    font-size: $font-base-size;
    @media screen and (max-width: $break-md) {
        // font-size: $font-base-size * 0.85;
    }
    line-height: $line-height;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 0.8rem; }
h6 { font-size: 0.5rem; }

h1, h2, h3, h4, h5, h6 {
    font-family: $font-sans-serif;
    line-height: $header-line-height;
    // font-weight: $font-weight-light;
}

a {
    color: $primary-color;
    text-decoration: none;

    p {
        color: $dark;
    }

    // filter: brightness(1);
    & {
        transition: filter, $transition-length;
    }

    &:hover, &:focus {
        filter: brightness(0.85);
    }
}

.cta {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    font-weight: $font-weight-heavy;
    border: 3px solid $secondary-color;
    transition: color $transition-length, 
                background-color $transition-length, 
                border-color $transition-length;

    &:hover, &:focus {
        filter: unset;
        border-color: $primary-color;
    }

    &.cta-primary {
        background-color: $secondary-color;
        color: $light;

        &:hover, &:focus {
            background-color: $primary-color;
        }
    }
    &.cta-secondary {
        color: $secondary-color;

        &:hover, &:focus {
            color: $primary-color;
        }
    }
}