header.site-header {
    background-color: $light;

    &:before {
        content: '';
        display: block;
        width: 50%;
        height: 100%;
        z-index: -1;

        position: absolute;
        left: 0;
        margin-right: auto;

        background-color: $primary-color;
        clip-path: polygon(
            0% 100%, 
            100% 100%, 
            calc(100% - (#{$header-height} * #{$angle})) 0%, 
            0% 0%);
    }

    .inner {
        height: 100%;
        width: 100%;
        display: flex; flex-direction: row;
        font-family: $font-sans-serif;
        font-weight: $font-weight-light;
        font-size: 1.2rem;

        a.site-title {
            height: 100%;
            margin: 0;
            display: flex; flex-direction: row;
            align-items: center;
            padding: 0 2rem 0 1rem;
            // border-right: 1px solid $light;

            font-family: $font-sans-serif-condensed;
            font-size: 1.5rem;
            font-style: italic;
            color: $light;
            white-space: nowrap;

            transition: color $transition-length;

            &:hover, &:focus {
                color: $secondary-color;
            }

            a.custom-logo-link {
                height: 100%;
                display: block;
                img {
                    height: 100% !important;
                    width: auto !important;
                }
            }
        }

        ul {
            height: 100%;
            max-width: calc(100% - (#{$header-height} * #{$angle}));
            list-style: none;
            display: flex; flex-direction: row;
            margin: 0;
            padding: 0;
            align-items: center;

            li {
                padding: 0 1vw;
            }
        }

        nav.site-header-nav {
            width: 50%;
            .menu-primary-container {
                height: 100%;
                a {
                    color: $light;
                    text-transform: uppercase;
                    font-weight: $font-weight-light;

                    transition: color $transition-length;

                    &:hover, &:focus {
                        color: $secondary-color;
                    }
                }
            }
        }
        .menu-nav-ctas-container {
            margin-left: 0;
            li {
                &>a {
                    @extend .cta;
                }
                &:first-child>a {
                    @extend .cta-secondary;

                }
                &:last-child>a {
                    @extend .cta-primary;
                }
            }
        }

        .menu-social-media-container {
            right: 0;
            margin-left: auto;
            a {
                font-size: 1.8rem;
                color: $secondary-color;

                transition: color $transition-length;

                &:hover, &:focus {
                    filter: unset;
                    color: $primary-color;
                }
            }
        }

        a {
            // color: $light;
        }
    }
}