section#posts .post-card {
    height: $post-card-height;

    @media screen and (max-width: $break-md) {
        height: $post-card-height + 200px;
    }
    // overflow: wrap;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .inner {
        flex-grow: 1;
        // width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $light;
        clip-path: polygon(
            0% 100%, 
            50% 100%, 
            calc(50% + ((#{$post-card-height} / 2) * #{$angle})) 50%, 
            50% 0%, 
            0% 0%);
        @media screen and (max-width: $break-md) {
            clip-path: polygon(
                0% 60%,
                0% 100%,
                100% 100%,
                100% 60%,
                50% 50%);
        }

        filter: opacity(0.85);
        &, &>*, h1 {
            transition: filter $transition-length, color $transition-length;
        }
        .content {
            @media screen and (max-width: $break-md) {
                height: 40%;
                position: absolute;
                bottom: 0;

                * {
                    margin: 0;
                }

                h2 {
                    margin-bottom: 1vh;
                }
            }
            @media screen and (min-width: calc(#{$break-md} - 1px)) {
                width: 50%;
            }
            padding: 2rem;
            word-break: break-word;
        }

        &:hover, &:focus {
            h1 {
                color: $secondary-color;
                filter: brightness(1);
            }

            filter: opacity(1);
        }
    }
    &:nth-child(even) {
        .inner {

            @media screen and (min-width: calc(#{$break-md} - 1px)) {
                clip-path: polygon(
                    100% 100%, 
                    50% 100%, 
                    calc(50% - ((#{$post-card-height} / 2) * #{$angle})) 50%, 
                    50% 0%, 
                    100% 0%);

                .content {
                    margin-left: 50%;
                }
            }
        }
    }
}