section#sidebar {
    border-left: 3px solid $primary-color;
    background-color: lighten($primary-color, 45%);

    section {
        position: relative;
        height: 100vh;
        width: 100%;

        &>* {
            width: 90%;
        }
    }

    section#sidebar-upper {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        list-style: none;
        margin: 0;

        h1 {
            @extend h3;
            height: $header-height;
        }

        .sidebar-card {
            flex-grow: 1; flex-shrink: 1;
            height: 100%;
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;

            border-top: 3px solid $primary-color;

            &:not(section:first-of-type) {
                margin-top: 1vh;
            }
            &:not(:last-child) {
                margin-bottom: 1vh;
            }

            position: relative;

            .inner {
                background-color: $light;
                // background-color: lighten($primary-color, 45%);

                position: absolute; height: 100%; width: 100%;
                bottom: 0;
                display: block;

                clip-path: polygon(
                    0% 70%,
                    0% 100%,
                    100% 100%,
                    100% 70%,
                    50% 60%);

                .content {
                    width: 100%; height: 30%;
                    position: absolute;
                    bottom: 0;

                    display: flex; flex-direction: row;
                    align-items: center; justify-content: center;
                    text-align: center;
                    word-break: break-word;

                    h2 {
                        @extend h4;
                        transition: color $transition-length;
                    }
                }

                &:hover, &:focus {
                    h2 {
                        color: $secondary-color;
                        filter: brightness(1);
                    }

                    filter: opacity(1);
                }
            }
        }

        @media screen and (max-width: $break-md) {
            height: calc(100vh - $header-height);
            .sidebar-card {

                .inner {

                    .content {

                        h2 {
                            // font-size: 2.5rem;
                        }
                    }
                }
            }
        }
    }

    section#sidebar-lower {
        position: sticky;
        top: 0;
        overflow: scroll;

        &>* {
            margin: 0 auto;
        }

        @media screen and (max-width: $break-md) {
            display: none;
        }
    }
}


// .rpwe-block ul{
// list-style: none !important;
// margin-left: 0 !important;
// padding-left: 0 !important;
// }

// .rpwe-block li{
// border-bottom: 1px solid #eee;
// margin-bottom: 10px;
// padding-bottom: 10px;
// list-style-type: none;
// }

// .rpwe-block a{
// display: inline !important;
// text-decoration: none;
// }

// .rpwe-block h3{
// background: none !important;
// clear: none;
// margin-bottom: 0 !important;
// margin-top: 0 !important;
// font-weight: 400;
// font-size: 12px !important;
// line-height: 1.5em;
// }

// .rpwe-thumb{
// border: 1px solid #eee !important;
// box-shadow: none !important;
// margin: 2px 10px 2px 0;
// padding: 3px !important;
// }

// .rpwe-summary{
// font-size: 12px;
// }

// .rpwe-time{
// color: #bbb;
// font-size: 11px;
// }

// .rpwe-comment{
// color: #bbb;
// font-size: 11px;
// padding-left: 5px;
// }

// .rpwe-alignleft{
// display: inline;
// float: left;
// }

// .rpwe-alignright{
// display: inline;
// float: right;
// }

// .rpwe-aligncenter{
// display: block;
// margin-left: auto;
// margin-right: auto;
// }

// .rpwe-clearfix:before,
// .rpwe-clearfix:after{
// content: "";
// display: table !important;
// }

// .rpwe-clearfix:after{
// clear: both;
// }

// .rpwe-clearfix{
// zoom: 1;
// }
