/*
* COLORS
*/
$primary-color: #FF4400;
$secondary-color: #3914AF;
$dark: #000000;
$light: #FFFFFF;

/* rudimentary dark theme */
// $primary-color: #3914AF;
// $secondary-color: #FF4400;
// $dark: #FFFFFF;
// $light: #000000;

/*
* TYPOGRAPHY
*/
$font-base-size: 18px;
$font-sans-serif: "League Gothic", sans-serif;
$font-sans-serif-condensed: "League Gothic Condensed", sans-serif;
$font-serif: "", serif;
$font-weight-light: 200;
$font-weight-medium: 400;
$font-weight-heavy: 800;
$line-height: 1.2;
$header-line-height: 1;

/*
* NUMBERS
*/
$break-md: 1024px;
$break-sm: 767px;
$header-height: 80px;
$post-card-height: 400px;
$angle: 0.75;

$transition-length: 0.2s; // LOL I FUCKING WISH